* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

button, input, select, textarea {
	width: 100%;
	max-width: 100%;
}

@media screen and (min-width: 952px) {
	/*Desktop*/
	
}