.c-invest {
	width: 316px;
	margin: 0 auto;
}

.c-invest_form {
	padding: 16px 23px 16px 28px;
}

.c-invest_toggle {
	position: relative;
	display: inline-block;
    margin-top: 24px;
	cursor: pointer;
}

.c-invest_toggle-content {
    margin-bottom: 8px;
	padding: 4px 0 5px;
}

.c-invest_amount._value {
	display: inline-block;
    float: right;
    width: 66px;
    text-align: right;
    line-height: 27px;
}

/*.c-invest_toggle-content {
	overflow: hidden;
}
.c-invest_toggle-content * {
	transform: translateY(-1000%);
	transition: transform 300ms;
}
.c-invest_toggle-content:target * {
	transform: translateY(0);
}*/


.c-invest_validation {
	display: none;
    position: absolute;
    bottom: 100%;
    left: 4px;
    width: 97%;
    height: auto;
    margin-bottom: 1px;
    padding: 5px 8px 6px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 16px;
    z-index: 11;
}
.c-invest_validation:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 8%;
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #transparent;
}
.c-invest_value._validation-error .c-invest_validation {
	display: block;
}
.c-invest_validation span {
	display: inline-block;
	border-bottom: 1px dotted #fff;
	line-height: 11px;
}


.c-invest_range {
	display: none;
	position: absolute;
    top: 100%;
    left: -7px;
	width: 280px;
	height: 61px;
    margin-top: 2px;
    padding: 13px 24px;
	background: #3a3b3c;
	border-radius: 2px;
    color: #fff;
	z-index: 10;
}
.c-invest_range:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 59%;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #3a3b3c;
}

.c-invest_range._show {
	display: block;
}

.c-invest_input-range {
	display: block;
    width: 100%;
	/*margin-top: 8px;*/
	padding: 0;
	background: #3a3b3c;
	border-radius: 2px;
 	-webkit-appearance: none;
}
.c-invest_input-range:focus {
	outline: none;
}
.c-invest_input-range::-webkit-slider-runnable-track {
	position: relative;
	top: 8px;
	width: 100%;
	height: 4px;
	/*margin-top: 8px;*/
	cursor: pointer;
	animate: 0.2s;
	background-color: #7e98e5;
	border-radius: 2px;
}
.c-invest_input-range::-webkit-slider-thumb {
	width: 18px;
	height: 18px;
	margin-top: -7px;
	border: none;
	border-radius: 9px;
    background-image: url(../img/sprites.png);
	background-color: #7e98e5;
    background-position: 0 -56px ;
    background-repeat: no-repeat;
	cursor: pointer;
	-webkit-appearance: none;
}
.c-invest_input-range:focus::-webkit-slider-runnable-track {
	background: #7e98e5;
}

.c-invest_input-range::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background-color: #7e98e5;
	border-radius: 2px;
}
.c-invest_input-range::-moz-range-thumb {
	width: 18px;
	height: 18px;
	margin-top: -7px;
	border: none;
	border-radius: 9px;
    background-image: url(../img/sprites.png);
	background-color: #7e98e5;
    background-position: 0 -56px ;
    background-repeat: no-repeat;
	cursor: pointer;
}
.c-invest_input-range::-ms-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background-color: #3a3b3c;
	border-width: 7px 0;
	border-color: transparent;
}
.c-invest_input-range::-ms-fill-lower {
	background-color: #7e98e5;
	border-radius: 4px;
}
.c-invest_input-range::-ms-fill-upper {
	background-color: #909294;
	border-radius: 4px;
}
.c-invest_input-range::-ms-thumb {
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 9px;
    background-image: url(../img/sprites.png);
	background-color: #7e98e5;
    background-position: 0 -56px ;
    background-repeat: no-repeat;
	cursor: pointer;
	z-index: 999;
}
.c-invest_input-range:focus::-ms-fill-lower {
	background: #7e98e5;
}
.c-invest_input-range:focus::-ms-fill-upper {
	background: #909294;
}






.c-invest_range-value {
	display: block;
	position: absolute;
    bottom: 11px;
    left: 24px;
    font-size: 11px;
    line-height: 11px;
    color: #909294;
}
.c-invest_range-value._quarter {
	left: 22%;
}
.c-invest_range-value._half {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.c-invest_range-value._end {
	left: auto;
	right: 24px;
}



.c-button {
	position: relative;
	display: inline-block;
    width: 103px;
    margin-left: 25px;
    padding: 10px 4px 8px 6px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
.c-button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -25px;
	width: 30px;
	height: 100%;
    border-radius: 4px;
}
.c-button:after {
	content: '';
	position: absolute;
	top: 50%;
    left: -16px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
}


.c-invest_value:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 12px;
	color: #909294;
}

.c-invest_input {
	padding: 6px 8px 4px 18px;
	border: 1px solid #c0c2c4;
	border-radius: 3px;
}


.c-invest_input._with-controls {
    padding-right: 24px;
}

.c-invest_controls {
	position: absolute;
	top: 4px;
	right: 0;
	width: 17px;
	height: 26px;
	border: 1px solid #c0c2c4;
	border-radius: 3px;
}

.c-invest_control {
	position: relative;
	display: block;
	height: 13px;
	cursor: pointer;
}

.c-invest_control:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 6px;
	margin-top: -3px;
	margin-left: -5px;
}

@media screen and (min-width: 952px) {
	/*Desktop*/
	
}