.l-page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.l-empty-push {
	height: 60px;
	clear: both;
}  

.l-header {
	position: relative;
	width: 100%;
    height: 80px;
	z-index: 2;
}

.l-footer {
	height: 60px;
}

.l-content {
	position: relative;
	z-index: 1;
}

.l-row {
	position: relative;
}
.l-row:after {
	content: '';
	display: table;
	clear: both;
}
.l-column {
	position: relative;
	float: left;
	width: 100%;
}
.l-column._half {
	width: 50%;
}

@media screen and (min-width: 952px) {
	/*Desktop*/
	
}