body {
	background: #000;
	color: #3a3b3c;
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	background: #ccc;
}

input[type='number'],
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.c-invest {
	background-color: #fff;
	font-size: 13px;
	color: rgb( 35, 36, 38 );
}

.c-invest_title {
	margin: 0;
	padding: 16px 24px 11px;
	border-bottom: 1px solid #e0e2e4;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.c-invest_form {
	line-height: 26px;
}

.c-invest .l-column {
	padding: 4px 0;
}

.c-invest .l-column:nth-of-type(2) {
	padding-left: 4px;
}

.c-invest_validation._error {
    background: #e64545;
    color: #fff;
}
.c-invest_validation._error:before {
	border-top: 4px solid #e64545;
}

.c-invest_validation span,
.c-invest_range {
	font-family: 'Roboto', sans-serif;
}


.c-invest_toggle {
	text-decoration: none;
	color: #909294;
}

.c-invest_toggle:before {
	content: '';
	position: absolute;
	top: 6px;
	left: -16px;
	width: 11px;
	height: 11px;
    background: url(../img/sprites.png) -14px -10px no-repeat;
}
.c-invest_toggle._show:before {
    background-position: 0 -10px;
}

.c-invest_toggle-content {
	visibility: hidden;
}
.c-invest_toggle-content._show {
	visibility: visible;
}


.c-invest_amount {
	color: #909294;
}


.c-invest_radio {
	display: none;
}
.c-invest_radio + label {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
    margin-left: 9px;
	border: 1px solid #c0c2c4;
	border-radius: 100%;
	vertical-align: -4px;
	cursor: pointer;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f3f5 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f3f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f3f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f5',GradientType=0 );
}
.c-invest_radio:checked  + label:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%; 
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	border-radius: 100%;
	background: #242526;
}
.c-invest_radio + label:first-of-type  {
    margin-left: 0;
}


.c-invest_checkbox {
	display: none;
}
.c-invest_checkbox + label {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	border: 1px solid #c0c2c4;
	border-radius: 2px;
	vertical-align: -3px;
	cursor: pointer;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f3f5 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f3f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f3f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f5',GradientType=0 );
}
.c-invest_checkbox:checked  + label:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%; 
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	background: url(../img/sprites.png) 0 -22px no-repeat;
}


.c-invest_input {
	text-align: right;
}


.c-invest_value._suminv:before {
	content: '$';
}

.c-invest_value._takeprofit:before,
.c-invest_value._stoploss:before {
	content: attr(data-symbol);
}

.c-invest_value._mult:before {
	content: '';
	top: 12px;
    left: 10px;
    width: 10px;
    height: 10px;
    background: url(../img/sprites.png) 0 0 no-repeat;
}


.c-invest_value._mult .c-invest_input {
	width: 50px;
}



.c-invest_value._validation-error .c-invest_input {
	border-color: #e64545;
}

.c-invest_value._validation-error .c-invest_controls {
	border-color: #e64545;
	border-left: 1px solid #c0c2c4;
}


.c-invest_value._disabled .c-invest_input,
.c-invest_input:disabled {
	color: #e8e8e9;
	background: #fff;
	border-color: #dfe0e1;
	pointer-events: none;
}
.c-invest_value._disabled .c-invest_controls {
	opacity: 0.5;
	pointer-events: none;
}
.c-invest_value._disabled:before {
	opacity: 0.5;
}


.c-button._down {
	margin-left: 26px;
    color: #fff;
    background: #f26666;
}
.c-button._down:before {
    background: #e95f5f;
}
.c-button._down:after {
    background: url(../img/sprites.png) 0 -36px no-repeat;
}


.c-button._up {
    color: #fff;
    background: #53a642;
}
.c-button._up:before {
    background: #499c38;
}
.c-button._up:after {
    background: url(../img/sprites.png) -14px -36px no-repeat;
}


.c-invest_controls {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f3f5 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f3f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f3f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f5',GradientType=0 );
}
.c-invest_control._increment {
	border-bottom: 1px solid #c0c2c4;
}
.c-invest_control._increment:after {
	margin-top: -2px;
    background: url(../img/sprites.png) 0px -50px no-repeat;
}
.c-invest_control._decrement:after {
	margin-top: -5px;
    background: url(../img/sprites.png) -14px -50px no-repeat;
}


@media screen and (min-width: 952px) {
	/*Desktop*/
	
}