<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>SibIt Form</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<link rel="stylesheet" type="text/css" href="css/components.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css">		
	</head>
	<body>
		<div class="l-page">
			<div class="l-wrapper _header">
				<header class="l-header">
					header
				</header>
			</div>
			
			<div class="l-wrapper _content">
				<main class="l-content">
					<div class="c-invest">
						<h2 class="c-invest_title">Инвестировать сейчас</h2>
						<form class="c-invest_form" id="investForm"></form>
					</div>
				</main>
			</div>
			
			<div class="l-empty-push"></div>
		</div>
		<footer class="l-footer">footer</footer>
		
		
		<script id="investFormTemplate" type="text/template">
			<div class="l-row">
				<div class="l-column _half">
					<label><%= sumInv.label %></label>
				</div>
				<div class="l-column _half c-invest_value _suminv" id="sumInv">
					<input 	type="number" 
							name="sumInv"
							min="<%= sumInv.min %>"
							max="<%= sumInv.max %>"
							value="<%= sumInv.value %>"
							class="c-invest_input"
							<% if (sumInv.required) { %>required<% } %>
					/>
					<div class="c-invest_validation"></div>
				</div>
			</div>

			<div class="l-row">
				<div class="l-column _half">
					<label><%= mult.label %></label>
				</div>
				<div class="l-column _half c-invest_value _mult" id="mult">
					<input 	type="number"
							name="mult"
							min="<%= mult.min %>"
							max="<%= mult.max %>"
							value="<%= mult.value %>"
							class="c-invest_input"
							<% if (mult.required) { %>required<% } %>
					/>
					
					
					
					<span class="c-invest_amount"> = <span class="c-invest_amount _value">$<% if (amount < 1000000) { %> <% } %><%= (amount+"").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ") %></span></span>
					<div class="c-invest_validation"></div>
				</div>
				
				<div class="c-invest_range <% if (mult.showRange) { %>_show<% } %>">
					<input 	type="range"
							name="mult"
							min="<%= mult.min %>"
							max="<%= mult.max %>"
							value="<%= mult.value %>"
							class="c-invest_input-range"
					/>
					<span class="c-invest_range-value _start"><%= mult.min %></span>
					<span class="c-invest_range-value _quarter"><%= mult.max/8 %></span>
					<span class="c-invest_range-value _half"><%= mult.max/2 %></span>
					<span class="c-invest_range-value _end"><%= mult.max %></span>
				</div>
			</div>

			<span class="c-invest_toggle <% if (showLimits) { %>_show<% } %>">Ограничить прибыль и убыток</span>
							
			<div class="c-invest_toggle-content <% if (showLimits) { %>_show<% } %>">
				<div class="l-row">
					<div class="l-column _half">
						<label><%= limits.label %></label>
					</div>
					<div class="l-column _half">
						<input 	type="radio"
								name="limits"
								value="0"
								class="c-invest_radio"
								id="c-invest_radio-percent"
								<% if (limits.value === 0) { %>checked="checked"<% } %>
						/>
						<label for="c-invest_radio-percent"></label>
						<span> <%= limits.types[0] %></span>
						<input 	type="radio"
								name="limits"
								value="1"
								class="c-invest_radio"
								id="c-invest_radio-dollar"
								<% if (limits.value === 1) { %>checked="checked"<% } %>
						/>
						<label for="c-invest_radio-dollar"></label>
						<span> <%= limits.types[1] %></span>
					</div>
				</div>
							
				<div class="l-row">
					<div class="l-column _half">
						<input 	type="checkbox"
								name="takeProfit_switch"
								class="c-invest_checkbox"
								id="c-invest_checkbox-profit"
								<% if (takeProfit.enable) { %>checked="checked"<% } %>
						/>
						<label for="c-invest_checkbox-profit"></label>
						<%= takeProfit.label %>
					</div>
					<div class="l-column _half c-invest_value _takeprofit <% if (!takeProfit.enable) { %>_disabled<% } %>" data-symbol="<%= limits.types[limits.value] %>" id="takeProfit">
						<input 	type="number"
								name="takeProfit"
								value="<% if (limits.value) { %><%= takeProfit.value %><% } else { %><%= takeProfit.percentValue %><% } %>"
								class="c-invest_input _with-controls _limit-depends <% if (limits.value) { %>_currency<% } else { %>_percent<% } %>"
								<% if (!takeProfit.enable) { %>disabled="disabled"<% } %>
								<% if (takeProfit.enable && takeProfit.required) { %>required<% } %>
						/>
						<div class="c-invest_controls">
							<span class="c-invest_control _increment"></span>
							<span class="c-invest_control _decrement"></span>
						</div>
						<div class="c-invest_validation"></div>
					</div>
				</div>
								
				<div class="l-row">
					<div class="l-column _half">
						<input 	type="checkbox"
								name="stopLoss_switch"
								class="c-invest_checkbox"
								id="c-invest_checkbox-loss"
								<% if (stopLoss.enable) { %>checked="checked"<% } %>
						/>
						<label for="c-invest_checkbox-loss"></label>
						<%= stopLoss.label %>
					</div>
					<div class="l-column _half c-invest_value _stoploss <% if (!stopLoss.enable) { %>_disabled<% } %>" data-symbol="<%= limits.types[limits.value] %>" id="stopLoss">
						<input 	type="number"
								name="stopLoss"
								value="<% if (limits.value) { %><%= stopLoss.value %><% } else { %><%= stopLoss.percentValue %><% } %>"
								class="c-invest_input _with-controls _limit-depends <% if (limits.value) { %>_currency<% } else { %>_percent<% } %>"
								<% if (!stopLoss.enable) { %>disabled="disabled"<% } %>
								<% if (stopLoss.enable && stopLoss.required) { %>required<% } %>
						/>
						<div class="c-invest_controls">
							<span class="c-invest_control _increment"></span>
							<span class="c-invest_control _decrement"></span>
						</div>
						<div class="c-invest_validation"></div>
					</div>
				</div>		
			</div>
							
			<div class="l-row">
				<div class="l-column _half">
					<a href="#/" class="c-button _down" id="reduction">В снижение</a>
				</div>
				<div class="l-column _half">
					<a href="#/" class="c-button _up" id="growth">В рост</a>
				</div>
			</div>
		</script>
		
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
